include:
  - project: blowfish/other/gitlab
    ref: master
    file:
      - build.yml
      - deploy.yml

variables:
  PROJECT_NAME:   ${PROJECT_NAME}
  PROJECT_DIR:    ${PROJECT_DIR}
  WORK_DIR:       ${PROJECT_DIR}/${PROJECT_NAME}
  IMAGE_NAME:     ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

stages:
  - build
  - deploy


### build

build-develop:
  extends: .pre-build
  variables:
        IMAGE_TAG:     develop
        ENVIRONMENT:   develop
        APP_CONFIG:    ${BF_DEVELOP_APP_CONFIG}
  only:
    refs:
      - develop

build-master:
  extends: .pre-build
  variables:
        IMAGE_TAG:     master
        ENVIRONMENT:   master
        APP_CONFIG:    ${BF_MASTER_APP_CONFIG}
  only:
    refs:
      - master


### deploy

deploy-develop:
  extends: .pre-deploy
  variables:
    IMAGE_TAG:        develop
    ENVIRONMENT:      develop
    APP_CONFIG:       ${BF_DEVELOP_APP_CONFIG}
    PROJECT_DIR:      ${BF_DEVELOP_PROJECT_DIR}
    SSH_HOST:         ${BF_DEVELOP_SSH_HOST}
    SSH_PRIVATE_KEY:  ${BF_DEVELOP_SSH_PRIVATE_KEY}
  only:
    refs:
      - develop
  needs:
    - build-develop

deploy-master:
  extends: .pre-deploy
  variables:
    IMAGE_TAG:        master
    ENVIRONMENT:      master
    APP_CONFIG:       ${BF_MASTER_APP_CONFIG}
    PROJECT_DIR:      ${BF_MASTER_PROJECT_DIR}
    SSH_HOST:         ${BF_MASTER_SSH_HOST}
    SSH_PRIVATE_KEY:  ${BF_MASTER_SSH_PRIVATE_KEY}
  only:
    refs:
      - master
  needs:
    - build-master
