version: '3.9'

services:
  juggler-front:
    image: $IMAGE_NAME:$IMAGE_TAG
    container_name: juggler-front
    hostname: juggler-front
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.juggler-front.rule=Host(`${JUGGLER_FRONT_UI_URL}`) 
      - traefik.http.routers.juggler-front.entrypoints=https
      - traefik.http.services.juggler-front.loadbalancer.server.port=80

networks:
  default:
    external: true
    name: blowfish-network
