version: '3.9'

services:
  juggler-front:
    image: $IMAGE_NAME:$IMAGE_TAG
    build:
      context: ../
      dockerfile: docker/Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_KEYCLOAK_URL: ${VITE_KEYCLOAK_URL}
        VITE_KEYCLOAK_REALM: ${VITE_KEYCLOAK_REALM}
        VITE_KEYCLOAK_CLIENT_ID: ${VITE_KEYCLOAK_CLIENT_ID}
    container_name: ${COMPOSE_PROJECT_NAME}
    hostname: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file:
    - ./../.env
