services:
  juggler-frontend:
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    build:
      context: ../
      dockerfile: docker/Dockerfile
      network: host
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_BF_MANAGER_URL: ${VITE_BF_MANAGER_URL}
        VITE_ENIGMA_URL: ${VITE_ENIGMA_URL}
        VITE_KEYCLOAK_URL: ${VITE_KEYCLOAK_URL}
        VITE_KEYCLOAK_LOGIN_URL: ${VITE_KEYCLOAK_LOGIN_URL}
        VITE_KEYCLOAK_REALM: ${VITE_KEYCLOAK_REALM}
        VITE_KEYCLOAK_CLIENT_ID: ${VITE_KEYCLOAK_CLIENT_ID}
        VITE_MONEYGATE_URL: ${VITE_MONEYGATE_URL}
        VITE_WALLET_URL: ${VITE_WALLET_URL}
        VITE_WALLET_ENABLED: ${VITE_WALLET_ENABLED}
    container_name: ${COMPOSE_PROJECT_NAME}
    hostname: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file: ./../.env
    labels:
      - metrics_tenant=blowfish
      - compose_project_name=${COMPOSE_PROJECT_NAME}

networks:
  default:
    external: true
    name: blowfish-network
