@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @layer base {
        :root {
            --background: 147 0% 95%;
            --foreground: 147 0% 0%;
            --card: 147 0% 90%;
            --card-foreground: 147 0% 10%;
            --popover: 147 0% 95%;
            --popover-foreground: 147 95% 0%;
            --primary: 147 54.1% 57.3%;
            --primary-foreground: 0 0% 100%;
            --secondary: 147 10% 70%;
            --secondary-foreground: 0 0% 0%;
            --muted: 109 10% 85%;
            --muted-foreground: 147 0% 35%;
            --accent: 109 10% 80%;
            --accent-foreground: 147 0% 10%;
            --destructive: 0 50% 30%;
            --destructive-foreground: 147 0% 90%;
            --border: 147 20% 50%;
            --input: 147 20% 18%;
            --ring: 147 54.1% 57.3%;
            --radius: 0.3rem;
        }
        .dark {
            --background: 147 10% 5%;
            --foreground: 147 0% 90%;
            --card: 147 0% 0%;
            --card-foreground: 147 0% 90%;
            --popover: 147 10% 5%;
            --popover-foreground: 147 0% 90%;
            --primary: 147 54.2% 70%;
            --primary-foreground: 0 0% 0%;
            --secondary: 147 10% 10%;
            --secondary-foreground: 0 0% 100%;
            --muted: 109 10% 15%;
            --muted-foreground: 147 0% 60%;
            --accent: 109 10% 15%;
            --accent-foreground: 147 0% 90%;
            --destructive: 0 50% 30%;
            --destructive-foreground: 147 0% 90%;
            --border: 147 20% 18%;
            --input: 147 20% 18%;
            --ring: 147 54.2% 70%;
            --radius: 0.3rem;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
