@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @layer base {
        :root {
            --background: 147 0% 95%;
            --foreground: 147 0% 0%;
            /* --header: 147 0% 95%; */
            --header: 0 0 100%;
            --text-primary: 0 0% 100%;
            /* --text-control-elements: hsla(147, 54%, 30%, 1); */
            --text-control-elements: 147 54% 30%;

            --card: 147 0% 90%;
            --card-foreground: 147 0% 10%;
            --popover: 147 0% 95%;
            --popover-foreground: 147 95% 0%;
            /* --primary: 147 54.1% 57.3%; */

            --green-00: 150 100% 98%;
            --green-0: 150 54% 95%;
            --green-10: 147 53% 90%;
            --green-20: 147 54% 70%;
            --green-30: 147 54% 60%;
            --green-40: 147 54% 57%;
            --green-50: 147 54% 30%;
            --green-60: 147 53% 10%;
            --green-70: 146 54% 5%;

            --yellow-0: 47 100% 95%;
            --yellow-10: 46 81% 88%;
            --yellow-20: 47 90% 74%;
            --yellow-30: 47 88% 55%;
            --yellow-40: 47 100% 48%;
            --yellow-50: 47 92% 35%;
            --yellow-60: 46 100% 22%;

            --red-0: 20 100% 97%;
            --red-10: 22 86% 89%;
            --red-20: 22 71% 75%;
            --red-30: 22 75% 53%;
            --red-40: 22 94% 46%;
            --red-50: 22 82% 35%;
            --red-60: 22 100% 23%;

            --orange-0: 30 100% 95%;
            --orange-10: 33 100% 89%;
            --orange-20: 29 100% 78%;
            --orange-30: 32 75% 53%;
            --orange-40: 32 100% 50%;
            --orange-50: 32 99% 40%;
            --orange-60: 32 100% 31%;

            --neutral-BB: 202 40% 12%;
            --neutral-100: 0 0% 0%;
            --neutral-90: 60 0.79% 24.9%;
            --neutral-80: 0 0% 36%;
            --neutral-70: 0 0% 46%;
            --neutral-60: 0 0% 60%;
            --neutral-50: 0 0% 70%;
            --neutral-40: 0 0% 85%;
            --neutral-30: 0 0% 90%;
            --neutral-20: 0 0% 95%;
            --neutral-10: 0 0% 98%;
            --neutral-0: 0 0% 100%;

            --extra-1: 346 65% 36%;
            --extra-2: 312 54% 28%;
            --extra-3: 288 31% 18%;
            --extra-4: 322 84% 10%;
            --extra-5: 286 34% 75%;
            --extra-6: 276 32% 43%;
            --extra-7: 212 38% 55%;
            --extra-8: 185 100% 30%;
            --extra-9: 180 100% 15%;

            --loginBG: 0 0% 95%;
            --scrollbar-track-color: 0 0% 100%;

            --primary-foreground: 0 0% 100%;
            --secondary: 147 10% 70%;
            --secondary-foreground: 0 0% 0%;
            /* --muted: 109 10% 85%; */
            --muted: 150 100% 98%;
            --muted-foreground: 147 0% 35%;
            --accent: 109 10% 80%;
            --accent-foreground: 147 0% 10%;
            --destructive: 0 50% 30%;
            --destructive-foreground: 147 0% 90%;
            --border: 147 20% 50%;
            --input: 147 20% 18%;
            --ring: 147 54.1% 57.3%;
            --radius: 0.3rem;
        }

        .dark {
            --background: 147 10% 5%;
            --foreground: 147 0% 90%;
            --header: 950 0% 0%;
            --text-primary: 60 1% 25%;
            --text-control-elements: 147 54% 57%;

            --card: 147 0% 0%;
            --card-foreground: 147 0% 90%;
            --popover: 147 10% 5%;
            --popover-foreground: 147 0% 90%;

            --green-00: 150 100% 98%;
            --green-0: 150 54% 95%;
            --green-10: 147 53% 90%;
            --green-20: 147 54% 70%;
            --green-30: 147 54% 60%;
            --green-40: 147 54% 57%;
            --green-50: 147 54% 30%;
            --green-60: 147 53% 10%;
            --green-70: 146 54% 5%;

            --yellow-0: 47 100% 95%;
            --yellow-10: 46 81% 88%;
            --yellow-20: 47 90% 74%;
            --yellow-30: 47 88% 55%;
            --yellow-40: 47 100% 48%;
            --yellow-50: 47 92% 35%;
            --yellow-60: 46 100% 22%;

            --red-0: 20 100% 97%;
            --red-10: 22 86% 89%;
            --red-20: 22 71% 75%;
            --red-30: 22 75% 53%;
            --red-40: 22 94% 46%;
            --red-50: 22 82% 35%;
            --red-60: 22 100% 23%;

            --orange-0: 30 100% 95%;
            --orange-10: 33 100% 89%;
            --orange-20: 29 100% 78%;
            --orange-30: 32 75% 53%;
            --orange-40: 32 100% 50%;
            --orange-50: 32 99% 40%;
            --orange-60: 32 100% 31%;

            --neutral-BB: 202 40% 12%;
            --neutral-100: 0 0% 0%;
            --neutral-90: 60 0.79% 24.9%;
            --neutral-80: 0 0% 36%;
            --neutral-70: 0 0% 46%;
            --neutral-60: 0 0% 60%;
            --neutral-50: 0 0% 70%;
            --neutral-40: 0 0% 85%;
            --neutral-30: 0 0% 90%;
            --neutral-20: 0 0% 95%;
            --neutral-10: 0 0% 98%;
            --neutral-0: 0 0% 100%;

            --extra-1: 346 65% 36%;
            --extra-2: 312 54% 28%;
            --extra-3: 288 31% 18%;
            --extra-4: 322 84% 10%;
            --extra-5: 286 34% 75%;
            --extra-6: 276 32% 43%;
            --extra-7: 212 38% 55%;
            --extra-8: 185 100% 30%;
            --extra-9: 180 100% 15%;

            --loginBG: 202 40% 12%;
            --scrollbar-track-color: 0 0% 0%;

            --primary-foreground: 0 0% 0%;
            --secondary: 147 10% 10%;
            --secondary-foreground: 0 0% 100%;
            --muted: 202 40% 12%;
            /* #13232C */
            --muted-foreground: 147 0% 60%;
            --accent: 109 10% 15%;
            --accent-foreground: 147 0% 90%;
            --destructive: 0 50% 30%;
            --destructive-foreground: 147 0% 90%;
            --border: 147 20% 18%;
            --input: 147 20% 18%;
            --ring: 147 54.2% 70%;
            --radius: 0.3rem;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* Стили для скроллбара и ползунка(thumb) */
@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-corner {
        background-color: hsl(var(--neutral-0));
    }

    ::-webkit-scrollbar-track {
        background: hsl(var(--scrollbar-track-color));
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: hsl(var(--green-50));
        border-radius: 8px;
    }

    :root {
        ::-webkit-scrollbar-track {
            border: 1px solid hsl(var(--neutral-30));
        }

        /* Firefox */
        @-moz-document url-prefix() {
            * {
                scrollbar-width: thin;
                scrollbar-color: hsl(var(--green-50)) hsl(var(--neutral-0));
            }
        }
    }

    .dark {
        ::-webkit-scrollbar-track {
            border: 1px solid hsl(60, 1%, 25%);
        }
    }
}
