@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @layer base {
        :root {
            --background: 147 0% 95%;
            --foreground: 147 0% 0%;
            --card: 147 0% 90%;
            --card-foreground: 147 0% 10%;
            --popover: 147 0% 95%;
            --popover-foreground: 147 95% 0%;
            /* --primary: 147 54.1% 57.3%; */
            --green-0: 152 94% 94%;
            /* #EBF9F2 */
            --green-10: 148 81% 91%;
            /* #D8F3E4 */
            --green-20: 148 57% 71%;
            /* #89DCAE */
            --green-30: 148 53% 61%;
            /* #62D093 */
            --green-40: 147 54% 57%;
            /* #57CD8C */
            --green-50: 147 54% 30%;
            /* #237648 */
            --green-60: 148 92% 9%;
            /* #0C2718 */
            --green-70: 148 96% 4%;
            /* #06140C */

            --yellow-0: 48 100% 93%;
            /* #FFFAE8 */
            --yellow-10: 44 82% 87%;
            /* #F9EDC6 */
            --yellow-20: 45 90% 71%;
            /* #F8DD80 */
            --yellow-30: 46 88% 56%;
            /* #F1C52A */
            --yellow-40: 46 100% 48%;
            /* #F3BE00 */
            --yellow-50: 46 90% 35%;
            /* #AD8907 */
            --yellow-60: 46 100% 22%;
            /* #715900 */

            --red-0: 20 100% 97%;
            /* #FFF6F1 */
            --red-10: 20 89% 85%;
            /* #FBDBC9 */
            --red-20: 24 70% 74%;
            /* #ECB391 */
            --red-30: 20 76% 53%;
            /* #E16F2D */
            --red-40: 19 94% 45%;
            /* #E65907 */
            --red-50: 17 81% 35%;
            /* #A44610 */
            --red-60: 18 100% 24%;
            /* #772B00 */

            --orange-0: 30 100% 95%;
            /* #FFF2E6 */
            --orange-10: 30 100% 87%;
            /* #FFE5C6 */
            --orange-20: 30 100% 75%;
            /* #FFC58F */
            --orange-30: 30 75% 53%;
            /* #E18E2D */
            --orange-40: 30 100% 50%;
            /* #FF8A00 */
            --orange-50: 30 99% 40%;
            /* #CA6D01 */
            --orange-60: 30 100% 30%;
            /* #9C5400 */

            --neutral-100: 0 0% 0%;
            /* #000000 */
            --neutral-90: 60 1% 25%;
            /* #40403F */
            --neutral-80: 0 0% 36%;
            /* #5C5C5C */
            --neutral-70: 0 0% 90%;
            /* #757575 */
            --neutral-60: 0 0% 60%;
            /* #999999 */
            --neutral-50: 0 0% 70%;
            /* #B3B3B3 */
            --neutral-40: 0 0% 85%;
            /* #D9D9D9 */
            --neutral-30: 0 0% 46%;
            /* #E6E6E6 */
            --neutral-20: 0 0% 95%;
            /* #F2F2F2 */
            --neutral-10: 0 0% 98%;
            /* #FBFBFB */
            --neutral-0: 0 0% 100%;
            /* #FFFFFF */

            --loginBG: 202 40% 12%;
            /* --extra-1: 346 66% 35%;
            --extra-2: 316 53% 28%;
            --extra-3: 288 29% 18%;
            --extra-4: 320 86% 10%;
            --extra-5: 288 35% 76%;
            --extra-6: 281 33% 44%;
            --extra-7: 211 40% 55%;
            --extra-8: 184 100% 30%;
            --extra-9: 180 100% 15%; */

            --primary-foreground: 0 0% 100%;
            --secondary: 147 10% 70%;
            --secondary-foreground: 0 0% 0%;
            --muted: 109 10% 85%;
            --muted-foreground: 147 0% 35%;
            --accent: 109 10% 80%;
            --accent-foreground: 147 0% 10%;
            --destructive: 0 50% 30%;
            --destructive-foreground: 147 0% 90%;
            --border: 147 20% 50%;
            --input: 147 20% 18%;
            --ring: 147 54.1% 57.3%;
            --radius: 0.3rem;
        }

        .dark {
            --background: 147 10% 5%;
            --foreground: 147 0% 90%;
            --card: 147 0% 0%;
            --card-foreground: 147 0% 90%;
            --popover: 147 10% 5%;
            --popover-foreground: 147 0% 90%;
            /* --primary: 147 54.2% 70%; */
            --green-0: 148 96% 4%;
            --green-10: 148 92% 9%;
            --green-20: 148 53% 25%;
            --green-30: 148 45% 53%;
            --green-40: 147 54% 57%;
            --green-50: 147 54% 30%;
            --green-60: 147 53% 10%;
            --green-70: 152 94% 94%;

            --yellow-60: 48 100% 93%;
            --yellow-50: 44 82% 87%;
            --yellow-40: 45 90% 71%;
            --yellow-30: 46 88% 56%;
            --yellow-20: 46 100% 48%;
            --yellow-10: 46 90% 35%;
            --yellow-0: 46 100% 22%;

            --red-60: 20 100% 97%;
            --red-50: 20 89% 85%;
            --red-40: 24 70% 74%;
            --red-30: 20 76% 53%;
            --red-20: 19 94% 45%;
            --red-10: 17 81% 35%;
            --red-0: 18 100% 24%;

            --orange-60: 30 100% 95%;
            --orange-50: 30 100% 87%;
            --orange-40: 30 100% 75%;
            --orange-30: 30 75% 53%;
            --orange-20: 30 100% 50%;
            --orange-10: 30 99% 40%;
            --orange-0: 30 100% 30%;

            --neutral-100: 0 0% 100%;
            /* #FFFFFF */
            --neutral-90: 0 0% 98%;
            /* #FBFBFB */
            --neutral-80: 0 0% 95%;
            /* #F2F2F2 */
            --neutral-70: 0 0% 46%;
            /* #E6E6E6 */
            --neutral-60: 0 0% 85%;
            /* #D9D9D9 */
            --neutral-50: 0 0% 70%;
            /* #B3B3B3 */
            --neutral-40: 0 0% 60%;
            /* #999999 */
            --neutral-30: 0 0% 90%;
            /* #757575 */
            --neutral-20: 0 0% 36%;
            /* #5C5C5C */
            --neutral-10: 60 1% 25%;
            /* #40403F */
            --neutral-0: 0 0% 0%;
            /* #000000 */

            --primary-foreground: 0 0% 0%;
            --secondary: 147 10% 10%;
            --secondary-foreground: 0 0% 100%;
            --muted: 202 40% 12%;
            /* #13232C */
            --muted-foreground: 147 0% 60%;
            --accent: 109 10% 15%;
            --accent-foreground: 147 0% 90%;
            --destructive: 0 50% 30%;
            --destructive-foreground: 147 0% 90%;
            --border: 147 20% 18%;
            --input: 147 20% 18%;
            --ring: 147 54.2% 70%;
            --radius: 0.3rem;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* Стили для скроллбара и ползунка(thumb) */
@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
        /* Ширина скроллера */
    }

    ::-webkit-scrollbar-track {
        background: 0 0% 100%;
        /* Цвет фона трека скроллера */
    }

    ::-webkit-scrollbar-thumb {
        background: 148 53% 25%;
        /* Цвет ползунка скроллера */
        border-radius: 8px;
        /* Радиус скругления ползунка */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: 148 92% 9%;
        /* Цвет ползунка при наведении */
    }
}