{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "importOrderSeparation": true,
    "importOrderCaseInsensitive": true,
    "importOrderParserPlugins": ["classProperties", "decorators-legacy", "typescript"],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^../(.*)", "^./(.*)", "^[./]*(.*\\.css)$"],
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
